@{
    ViewData["Title"] = "Home Page";
}

<h2>Shenton Application</h2>

<li><a asp-area="" asp-controller="ClientContacts" asp-action="Index">Client Contact</a></li>
<li><a asp-area="" asp-controller="Jobs" asp-action="Index">Jobs</a></li>
