@model EVA.Models.ClientContactDetail

@{
    ViewData["Title"] = "Create";
}

<h2>Create New Contact Details</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>All Fields Required</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ClientContactID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ClientContactID" class ="form-control" asp-items="ViewBag.ClientContactID"></select>
            </div>
        </div>
       
        <div class="form-group">
            <label asp-for="ContactTypeID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ContactTypeID" class="form-control" />
                <span asp-validation-for="ContactTypeID" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ContactDetail" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ContactDetail" class="form-control" />
                <span asp-validation-for="ContactDetail" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
